*{
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
}
body, html{
  background: #181818;

}
img{
  width: 1500px;
  margin: 0 auto;
  display: flex;

}
